<ion-header *ngIf="!isLoading" [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="storefront" style="margin-right: 8px;"></ion-icon>
      My E-commerce Store Az
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/cart']">
        <ion-icon slot="icon-only" name="cart"></ion-icon>
        <ion-badge *ngIf="cartItemCount > 0" color="danger"> {{ cartItemCount }}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div *ngIf="isLoading" class="splash-screen">
    <img src="/assets/Logo/logoStore.gif" alt="Logo de carga">
  </div>

  <div *ngIf="!isLoading">
    <app-products></app-products>
  </div>
</ion-content>
